::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background: #8757ab;
}

::-webkit-scrollbar-thumb:hover {
    background: #6e498c;
}
